.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(199, 186, 186);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app{
  position: relative;
  display: flex;
}

.main{
  flex-basis: 50%;
  background: url(libpict.svg);
  background-size: 100%;
}

.text-margin{
  margin-left: 13px;
  color: whitesmoke;
}

.text-margin h1{
  text-shadow: 2px 2px black;
  font-size: 72px;
  padding-top: 260px;
}

.text-margin h6{
  text-shadow: 2px 2px black;
  padding-top: 168px;
}

.right-form{
  position: relative;
  background-color: white;
  margin-left: 70px;
}

.right-form img{
  margin-left: 480px;
}

.right-form h6{
  text-align: justify;
}

.box-shadow{
  box-shadow: 5px 5px 15px black;
}

.dashboard{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 20px;
  margin-top: 100px;
}

.bg-header{
  width: 100%;
  box-shadow: 10px 10px 16px -7px rgba(0,0,0,0.54);
  height: 270px;
}

.bocil{
  margin-top: -100px;
  border-radius:10px;
  box-shadow: 10px 10px 16px -7px rgba(0,0,0,0.54);
  margin-bottom:40px;
  width: 200px;
  height: 250px;
}

.card{
  align-content: flex-start;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 10px 16px -7px rgba(0,0,0,0.54);
  width: 20rem;
  margin-bottom:40px;
}

.card img{
  border-radius: 15px 15px 0px 0px;
  height: 14rem;
  width: 20rem;
}

.carousel-inner img {
  display: flex;
  margin: auto;
  height: 50%;
  border-radius: 15px 15px 15px 15px;
}

.carousel-control-next-icon{
  border-radius: 150px 150px 150px;
  padding: 20px;
  background-color: gray;
  background-size: 30px;
}

.carousel-control-prev-icon{
  border-radius: 150px 150px 150px;
  padding: 20px;
  background-color: gray;
  background-size: 30px;
}

.jumbotron {
  width:100%;
  height:300px;
  position:relative;
  background-repeat: no-repeat;
  background-size:100%
}

.litleBook{
  position:absolute;
  right:50px;
  bottom:-100px;
  width:200px;
  height:250px;
  background-color: brown;
  border-radius: 10px;
  background-size: 100% 100%;
  box-shadow: 10px 10px 16px -7px rgba(0,0,0,0.74);
  background-position: 'center'
  
}

.btn-back {
  width:30px;
  height:30px;
  background-color:white;
  border-radius: 50%;
  position: absolute;
  top:20px;
  left:20px
}

.btn-edit {
  position:absolute;
  top:3%;
  right:8%;
  color: #fff;
  font-weight:bold
}

.btn-delete {
  position: absolute;
  top:5%;
  right:4%;
  color:#fff;
  font-weight:bold;
}

.close {
  color:red;
}

.close:hover {
  color:red;
  border: 2px solid red;
  border-radius:50%;
}

.User-picture{
  width: 24vh;
  height: 24vh;
  margin-left: 10vh;
  margin-right: 10vh;
  margin-top: 2vh;
  margin-bottom: 3vh;
  border-radius: 24vh;
}

.book-detail-image{
  width: 100vw;
  height: 45vh;
  overflow: hidden;
}

.book-detail-image .cover-img{
  width: 100vw;
  position: relative;
  margin:-75% -55%;
  overflow: hidden;
}

.book-img{
  position: absolute;
  margin-top: 20vh;
  right: 5vw;
  width: 15vw;
  -webkit-box-shadow: 9px 11px 5px 0px rgba(0,0,0,0.32);
  -moz-box-shadow: 9px 11px 5px 0px rgba(0,0,0,0.32);
  box-shadow: 9px 11px 5px 0px rgba(0,0,0,0.32);
  border-radius: 1rem;
}

.book-detail-control{
  position: absolute;
  right:2vw;
  top:2vw;
}

.book-detail-data{
  text-align: left;
  padding: 3vw;
  width:70vw;
}
.book-detail-data .genre-button{
  border-radius: 2rem;
}
.book-detail-data .availability-button{
  float: right;
}

.book-detail-data{
  text-align: left;
  padding: 3vw;
  width:70vw;
}
.book-detail-data .genre-button{
  border-radius: 2rem;
}
.book-detail-data .availability-button{
  float: right;
}
.borrow-button{
  position: absolute;
  right: 8vw;
  bottom: 10vh;
}
.book-detail-data .book-title{
  font-size: 3vw;
}
.book-detail-data .book-description{
  margin-top: 2vh; 
  font-size: 1.5vw;
}
.book-detail-data .book-date-released{
  font-size: 2vw;
  padding: 0.25vw;
}
.book-detail-data .book-availability{
  border-radius: 2rem;
}
.back-button{
  position: absolute;
  left: 2vw;
  top: 2vw;
  z-index: 2;
  border-radius: 100%!important;
}

.deleteModalBody{
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.deleteModalButtons{
  display: flex;
  justify-content: center;
}